{% extends 'base.html' %}

{% block title %}
    ToDo detail
{% endblock %}

{% block title-head %}
    CBV
{% endblock %}

{% block lead %}
    see the todo detail
{% endblock %}

{% block content %}
    <p>{{ object.title }}</p>
    <small>{{ object.created }}</small>
    <br><br>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary">
    </form>
    <br><br>
    {% for cmt in object.comments.all %}
        {{ cmt.name }}
        <br>
        {{ cmt.body }}
        <hr>
    {% endfor %}


{% endblock %}